.dash-navbar {
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 0 3px rgba(255, 234, 234, 0.5);
    height: 66px;
    width: 100%;
    min-width: 320px;
    padding: 0 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    letter-spacing: .001em;
}



.sign-out-link {
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    margin-bottom: 0;
    display: block;
    color: #ffffff;
    padding-left: 1.25rem!important;
    padding-right: 1.25rem!important;
    transition: color .3s ease-in-out;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1rem;
    font-weight: 700;
    text-shadow: 
    /* 1px 1px 0 black; */
    0 1px 1px #265455;
    font-size: 1rem;
    justify-self: right;
    margin-left: auto;
}

.sign-out-link:hover {
    color: #ffcc5d;
}


.account-icon {
    
}

.account-icon:hover{
    transition: color .2s ease-in-out;
    color: #ffcc5d;
}