.loading-background {
    width: 100vw;
    height: 100vh;
}

.dash-main-flex {
    display: flex;
}

.list {
    margin: 0;
    list-style: none;
    padding: 18px 0 0 0;
}

.sidebar-icon {
    font-size: 13px;
    margin-right: 20px;
}


