.gradient-wrapper.donut {
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    min-width: 410px;
    margin-left: 4px;
    display: flex;
    padding: 7px;
    flex-grow: 1;
    width: 30%;
}

.donut-header {
    text-align: center;
    margin-bottom: 15px;
}

/* WIDTH */

/* @media (min-width: 1112px) {
    .donut-header {
        margin-bottom: 25px;
        font-size: 20px;
    }
}

@media (min-width: 1650px) {
    .donut-header {
        margin-bottom: 32px;
        font-size: 25px;
    }
} */

/* WIDGETS REALIGN VERTICALLY */


@media (max-width: 887px) {
    .budget-top-widgets.donut {
        position: static;
        width: 100%!important;
    }
}

@media (max-width: 887px) {
    .gradient-wrapper.donut {
        margin: 0 auto;
        position: relative;
        display: block;
        /* min-width: 250px; */
    }

} 
@media (max-width: 500px) {
    .gradient-wrapper.donut {
        margin: 0 auto;
        position: relative;
        display: block;
        min-width: 0;
    }
} 