.dashboard {
    background-image: linear-gradient(0deg, #22c1c3, #fdbb2d);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: Lato, sans-serif;
    min-height: 100vh;
    width: 100%;
}

.custom-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    font-family: Lato, sans-serif;
    background-color: rgba(60, 54, 54, 0.75);
}

.popup {
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, 0);
    border-radius: 12px;
    position: absolute;
    text-align: center;
    min-width: 500px;
    padding: 20px;
    z-index: 200;
    width: 30vw;
    top: 20vh;
    left: 50%;
}

.warning {
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.button-container {
    justify-content: space-evenly;
    margin-top: 30px;
    display: flex;
}

.signInLink {
    padding-right: 8px;
}

.signUpLink {
    padding-left: 8px;
}