.paginating-container {
    display: block;
    margin: auto;
}

.monthContainer-wrapper {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
}

