.chart-controls {
    margin: 30px auto 0 auto;
    margin-top: 50px;
    width: 90%;
}

.slider-section {
    margin-bottom: 25px;
}

.slider-flexbox {
    justify-content: space-between;
    border-radius: 8px;
    display: flex;
    width: 100%;
    padding: 1px;
}


.slider-flex-item {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 30%;
}

.slider-wrapper {
    background-color: white;
    padding: 48px 0px 0 0px;
    border-radius: 4px;
    position: relative;
    margin: auto;
    flex-grow: 1;
    height: 0%;
    width: 100%;
}

.label-wrapper {
    background-color: white;
    margin: 2px 0 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .label {
        font-size: 13px;
        text-align: center;
        align-self: center;
    }
}