.sidebar {
    min-height: calc(100vh - 66px);
    transition: all 0.3s ease;
    min-width: 155px;
    display: block;
    width: 155px;
    z-index: 904;
    top: 66px;
    left: 0;
}

.sidebar.closed {
    transition: all 0.3s ease;
    min-width: 49px;
    width: 49px;
    
}

.sidebar.mobile {
    transition: all 0.3s ease;
    min-width: 100px;
    overflow: hidden;
    width: 150px;
    position: absolute;
    left: 0px; top: 66px;
    z-index: 10000990900099090909000;
    background-image: linear-gradient(
        180deg, 
        rgba(24, 20, 93, .98), 
        rgba(239, 84, 84, .98)
    );
    height: 100%;
}

