.sidebar {
    min-height: calc(100vh - 66px);
    transition: all 0.3s ease;
    min-width: 155px;
    display: block;
    width: 155px;
    z-index: 904;
    top: 66px;
    left: 0;
}

.sidebar.closed {
    transition: all 0.3s ease;
    min-width: 49px;
    width: 49px;
    
}

.sidebar.mobile {
    transition: all 0.3s ease;
    min-width: 100px;
    overflow: hidden;
    width: 100px;
}
