.dashboard {
    width: 100%;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: rgb(0, 58, 59); 
    background-image: linear-gradient(
        180deg, 
        #22c1c3, 
        #fdbb2d
    ); 
}

/** prior colors **/
/** RGB(34,193,195), RGB(253,187,45)**/
/** RGB(34,193,195), RGB(253,187,45)**/

.loading-background {
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(
        180deg,
        #22c1c3,
        #fdbb2d
    );
    background-image: -webkit-linear-gradient(
        180deg, 
        #22c1c3, 
        #fdbb2d
    );
}
.dash-main-flex {
    display: flex;
}

.sub-page {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    flex-grow: 1;
}

.list {
    margin: 0;
    padding: 18px 0 0 0;
    list-style: none;
}

.sidebar-icon {
    font-size: 13px;
    margin-right: 20px;
    
}

.sidebar-sublist .subitem-submenu-list {
    padding-left: 15px;
}

.subitem-submenu-link .fa {
    top: 7px;
}

.sidebar-list-item.selected:not(.with-sub-menu) {
    background-color: white;
}
.sidebar-list-item.selected:not(.with-sub-menu) a.sidebar-list-link {
    color: blue;
}
.sidebar-list-item.selected:not(.with-sub-menu) a.sidebar-list-link b {
    color: white;
}


/* .list-link:hover {
    color: white;
}
.list-link:hover b {
    color: white;
}
.list-link i {
    margin-right: 18px;
    width: 16px;
    display: inline-block;
} */

.list-link b {
    top: 12px;
    padding: 0;
    width: 14px;
    right: 10px;
    height: 14px;
    display: block;
    position: absolute;
    opacity: 1;
    color: #ccc;
    font-size: 18px;
    line-height: 14px;
    text-shadow: none;
    text-align: center;
}

.slimScrollBar, .slimScrollRail {
    border-radius: 0px !important;
    width: 4px !important;
    left: 176px;
}




/* .sidebar-sublist {
    padding: 0;
    list-style: none;
    position: relative;
    display: none;
}
.sidebar-sublist.expanded {
    display: block;
}
.sidebar-sublist > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;
}
.sidebar-sublist > li a {
    display: block;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    padding-left: 52px;
    height: auto;
    line-height: 29px;
}
.sidebar-sublist > li a:hover {
    color: white;
}
.sidebar-sublist > li.selected:not(.with-sub-menu) > a {
    border: none;
    background-color: white;
}
.sidebar-sublist > li.selected:not(.with-sub-menu) > a:hover {
    color: white;
} */
