.loss-text {
    color: red;
}

.gradient-wrapper.summary-chart {
    width: 30%;
    padding: 7px;
    flex-grow: 1;
    display: flex;
    min-width: 236px;
    margin-right: 4px;
}

.summary-container {
    align-items: center;
    background-color: white;
    flex-direction: column;
    border-radius: 4px;
    color: #000000;
    display: flex;
    padding: 15px;
    flex-grow: 1;
    box-shadow: 
        0px 2px 1px -1px rgba(0,0,0,0.2), 
        0px 1px 1px 0px rgba(0,0,0,0.14), 
        0px 1px 3px 0px rgba(0,0,0,0.12);
    
}

.widget-header {
    text-align: center;
    margin-bottom: 15px;
    flex-grow: 1;
}

.summary-text {
    font-size: 12px; 
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.summary-text.loss{
    color: red;
}


.summary-numbers {
    letter-spacing: 1px;
    font-weight: 700;
    font-family: Roboto;
    color: white;
}

@media (max-width: 887px) {
    .gradient-wrapper.summary-chart {
        margin: 0 0 20px 0;
        min-width: 275px;
    }
}

@media (max-width: 500px) {
    .gradient-wrapper.summary-chart {
        min-width: 0;
    }
} 