.subpage.sidebar-open {
    max-width: calc(100vw - 155px - 40px);
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}


.subpage.sidebar-closed {
    padding: 20px;
    flex-grow: 1;
    margin: 0 auto;
    background-color: white;
    max-width: calc(100vw - 49px - 40px)
}

.dummy-subpage {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}


@media (max-width: 600px) {
    .subpage.sidebar-closed, .subpage.sidebar-open{
        max-width: calc(100vw - 49px - 20px);
        padding-top: 8px;
    }
}

@media (max-width: 500px) {
    .subpage.sidebar-closed, .subpage.sidebar-open{
        max-width: calc(100vw - 49px - 20px);
        padding: 20px 15px 20px 5px;
        padding-top: 8px;

    }
}