* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #0a6666;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffd781;
  border-radius: 20px;
  border: 3px solid #0a6666;
}


html, body, .app {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-x: hidden;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    font-family: Lato, sans-serif;
    --font-family-sans-serif: 
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,"Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

