* {
    margin: 0;
    padding: 0;
    /* font-weight: lighter; */
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(24, 20, 93);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(239, 84, 84);
  border-radius: 20px;
  border: 3px solid rgba(24, 20, 93);
}

html, body, .app {

    /** -------- SIZE & DISPLAY ------- **/

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;

    /** --------- TEXT STYLES ---------- **/

    text-align: left;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;

    --font-family-sans-serif: 
        -apple-system       ,
        BlinkMacSystemFont  ,
        "Segoe UI"          ,
        Roboto              ,
        "Helvetica Neue"    ,
        Arial,"Noto Sans"   ,
        sans-serif          ,
        "Apple Color Emoji" ,
        "Segoe UI Emoji"    ,
        "Segoe UI Symbol"   ,
        "Noto Color Emoji"  ;
}

.gradient-wrapper {
    border-radius: 8px;
    background-color: #074141;
    box-shadow:             
        2px 3px 1px -2px rgba(0,0,0,0.3),
        2px 2px 2px 0px  rgba(0,0,0,0.22),
        2px 1px 8px 0px  rgba(0,0,0,0.18);
  background-image: linear-gradient(
      180deg, 
      #0a6666, 
      #a0720e
    );
}

.lato {
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
}


@media (max-width: 500px) {
  *::-webkit-scrollbar {
    width: 9px;
    border: 1px;
  }
}